<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path @list.photo.key %>')">
  <h1><%= @list.name %></h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-lg-6">

      <ul class="list-group mb-3">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item"><%= bookmark.movie.title %>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-sharp fa-solid fa-trash fa-2xs"></i></li>
        <% end %>
      <% end %>

      </ul>
      <%= link_to "Add a bookmark",  new_list_bookmark_path(@list) , class: "btn rounded btn-primary" %>
      <%= link_to "back to your lists", root_path, class: "btn btn-link" %>
    </div>
  </div>
</div>
